@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

p {
    font-size: 20px;
  font-family: 'Varela Round', sans-serif;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size:60px;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
}

h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    margin-left: 15px;
    width: 31.9%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    position:fixed;
    bottom:0;
    width = 100%;
}
